.box {
  background-color: #ccded821;
  width: auto;
  border-width: 1px;
  border-color: red;
  height: 140px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  width: 400px;
  height: 40px;
  border-color: green;
  border-width: 3px;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  background: url("/public/drop-down-arrow.png") no-repeat 97% 50%/15px auto;
  cursor: pointer;
}

*:focus {
  outline: none;
}

.wrap {
  width: auto;
  height: 40px;
  background-color: #fff;
}
