.infobox {
  width: 230px;
  background-color: rgba(255, 255, 255, 0.827);
  border-style: none;
  border-radius: 0.5rem;
  z-index: -1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.layout {
  display: flex;
}

.maps {
  width: "100%";
  height: "450px";
}

.box {
  width: 100%;
  height: auto;
}

.closebox {
  text-align: end;
  padding: 5px;
  background-color: #ccded8ae;
  font-size: large;
}

.textbox {
  font-size: 13px;
  padding: 5px;
  padding-left: 9px;
}

.mainbox {
  display: flex;
}
.textwrap {
  text-align: center;
  width: auto;
  padding-top: 20px;
  margin-left: 5px;
  justify-content: center;
}

.oddTitle {
  width: max-content;
  padding: 13px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: green;
  color: white;
  font-size: small;
  font-weight: bold;
  padding: 10px;
}

.buttonbox {
  display: flex;
  justify-content: end;
  padding-right: 15px;
}

.button {
  width: auto;
  height: auto;
  text-align: center;
  background-color: inherit;
  outline: none;
  border-image: none;
  border-style: none;
}
